# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
wheels/
*.egg-info/
*.egg

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Linters / type checkers
.ruff_cache/
.mypy_cache/

# Environments
.venv
.env
.envrc
